body{
    background-color: aqua;
    font-family: cursive;
}
img{
    width: 100px; /*ancho de la imagen */
    height: 100px; /*alto de la imagen */
}
tr:hover{
    background-color: brown;
}
input{
    border-radius: 3px;
    border: 3px solid rgb(236, 143, 76);
    background-color: rgb(145, 98, 189);
}
.inputcolor{
    background-color: chartreuse;
}
#contraseña{
    background-color: deeppink;
    color: white;
}
/* ###########BREAKPOINTS############## */
